<h1>This is the home page</h1>

<label for="assignment">Your mission, should you choose to accept it, is:</label>
<ul id="assignment">
    <li>Clone this repository</li>
    <li>Create a branch using your name</li>
    <li>Create an HTML file in the templates folder that has your name in an H1 element.</li>
    <li>Add a link on the home/index.html page that links to the page that has your name</li>
    <li>Add a route in the config that routes the ng-view to your page</li>
    <li>Push your branch to the repo</li>
    <li>Create a pull request</li>
</ul>